@import './index.css';
@import '@economist/component-grid';
@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-icon/backgrounds/apps.css';
@import '@economist/component-icon/backgrounds/radio.css';
@import '@economist/component-icon/backgrounds/headset.css';
@import '@economist/component-icon/backgrounds/video.css';
@import '@economist/component-icon/backgrounds/film.css';

/* stylelint-disable selector-no-type */

body {
  background: var(--color-berlin);
}
/* stylelint-enable selector-no-type */
