@import '@economist/component-icon/lib';
@import '@economist/component-link-button';

:root {
  --icon-canvas-size: 60px;
  --icon-size: 30px;
}

/* stylelint-disable selector-no-universal */
/* because not gonna list all the classes */

.sections-card * {
  box-sizing: border-box;
}

/* stylelint-enable selector-no-universal */

.sections-card {
  padding: 0;
  color: var(--color-london);
  font-family: var(--fontfamily-sans);
  font-size: 1rem;
  font-weight: normal;
}

.sections-card__wrapper {
  margin: 0 auto;
  line-height: var(--text-line-height-sans-on-step--1);
}

.sections-card .link-button {
  display: block;
  padding-left: 0.5em;
  color: var(--sections-card-link-color, var(--color-kiev));
  font-size: var(--text-size-step--2);
  text-decoration: none;
}

.sections-card__list-wrapper .link-button:hover {
  color: var(--color-chicago);
}

.sections-card__list-wrapper {
  box-sizing: border-box;
  padding: 0 3em;
}

.sections-card__list {
  margin: 0;
  padding: 0;
}

.sections-card__link {
  color: var(--color-london);
}

.sections-card__list-item {
  display: block;
  width: 100%;
  line-height: 1.7em;
  text-align: left;
  white-space: nowrap;
}

.sections-card__list-item:last-child {
  margin-bottom: 0;
}

.sections-card__menu {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.sections-card__list-wrapper--sections {
  max-width: 50%;
  align-self: auto;
  flex: 1 1 auto;
  order: 0;
}

.sections-card__list-wrapper--media {
  max-width: 20%;
  align-self: auto;
  flex: 1 1 auto;
  order: 0;
  text-align: center;
}

.sections-card__list-wrapper--blogs {
  max-width: 20%;
  align-self: auto;
  flex: 1 1 auto;
  order: 0;
}

.sections-card__list-wrapper--media,
.sections-card__list-wrapper--blogs {
  border-left: solid 1px var(--sections-card-border-left-color, var(--color-london));
}

/* stylelint-disable selector-no-type */
/* class of the svg not available */

.sections-card__list-wrapper--media svg,
.sections-card__list-wrapper--media use {
  fill: var(--sections-card__list-media-icon-fill, var(--color-chicago));
}

/* stylelint-enable selector-no-type */

.sections-card__list-wrapper--media .Icon {
  margin-right: 0.5em;
}

.sections-card__list-header {
  margin-top: 0;
  padding-left: 0.5em;
  color: var(--sections-card__header-color, var(--color-kiev));
  font-size: var(--text-size-step--2);
  font-weight: bold;
  text-transform: uppercase;
}

/* stylelint-disable selector-no-type */
/* class of the svg not available */

.sections-card__link.link-button--icon svg {
  vertical-align: middle;
  width: 24px;
}

/* stylelint-enable selector-no-type */

@media (width <= 1000px) {
  .sections-card__list-wrapper {
    padding: 0 2em;
  }
}
